body {
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  background: black;
  display: block;
  border: 1px solid black;
  border-radius: 25px;
  text-align: center;
  margin: 100px 530px;
  box-shadow: 5px 10px 5px;
}

.calculator-top {
  font-size: 25px;
  color: orchid;
}

button {
  color: orangered;
  background: black;
  font-size: 25px;
  font-weight: 700;
  padding: 20px;
  margin: 0;
  border: 0;
}
.previous-opps,
.current-opps {
  text-align: right;
  padding: 20px;
  padding-top: 8px;
  padding-right: 8px;
  letter-spacing: 4px;
}

.span-two {
  font-size: 15px;
}

@media (max-width: 900px) {
  .container {
    display: block;
    justify-content: center;
    margin: 60px 110px;
    box-shadow: none;
  }
}

@media (max-width: 500px) {
  .container {
    display: block;
    justify-content: center;
    margin: 40px 60px;
    box-shadow: none;
  }
}
